* {
    margin: 0;
    padding: 0;
}

/******* HEADER *******/

.header {
    background-color: #ececec;
    top: 0;
    left: 0;
    min-height: 100px;
    width: 100%;
}

/******* MAIN *******/

.form_column {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}

.form_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    white-space:nowrap;
}

.form_row:last-child {
    padding-bottom: 0;
}

.text-align_left {
    text-align: left;
    padding-right: 10px;
}

.text-align_right {
    text-align: right;
}

.dashed__underline {
    position: relative;
    width: 100%;
    bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #000000;
}

.color_gray {
    background-color: #A2A9B7;
}

.color_light-gray {
    background-color: #E8EBED;
}

.color_blue {
    background-color: #90BCE8;
}

.color_yellow {
    background-color: #FEBF26;
}

.color_green {
    background-color: #E3EBD3;
}

.image_background {
    background: url("ship.png") no-repeat left -160px top -122px;
}

.color_salmon {
    background-color: #FFAA87;
}

.color_pink {
    background-color: #F55E62;
}

.color_purple {
    background-color: #C7ABD4;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text__color_black {
    color: #000000;
}

.text__color_white {
    color: #FFFFFF;
}

.font_s {
    font-size: 14px;
    line-height: 20px;
}

.font_m {
    font-size: 18.1121px;
    line-height: 26px;
}

.font_l {
    font-size: 24px;
    line-height: 20px;
}

.text-align_start {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 46px 53px 25px;
}

.text-align_center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-align_end {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
}


/******* GRID *******/

@media screen and (max-width: 480px) {
    .main {
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
                "box_staff box_staff box_staff box_text box_text box_text"
                "box_conform box_conform box_conform box_conform box_conform box_conform"
                "box_intro box_intro box_intro box_staff_yellow box_staff_yellow box_staff_yellow"
                "box_gen box_gen box_gen box_gen box_feel box_feel"
                "box_gen box_gen box_gen box_gen box_moreno box_moreno"
                "box_however box_however box_however box_however box_however box_however"
                "box_dot box_dot box_dot box_vector box_vector box_vector"
                "box_leadership box_leadership box_leadership box_genius box_genius box_genius";
        padding: 10px 12px 10px 13px;
    }
    .box_staff {
        grid-area: box_staff;
    }
    .box_text {
        grid-area: box_text;
    }
    .box_conform {
        grid-area: box_conform;
    }


    .box_intro {
        grid-area: box_intro;
    }
    .box_staff_yellow {
        grid-area: box_staff_yellow;
    }


    .box_gen {
        grid-area: box_gen;
    }
    .box_feel {
        grid-area: box_feel;
    }
    .box_moreno {
        grid-area: box_moreno;
    }


    .box_however {
        grid-area: box_however;
    }
    .box_dot {
        grid-area: box_dot;
    }
    .box_vector {
        grid-area: box_vector;
    }


    .box_leadership {
        grid-area: box_leadership;
    }
    .box_genius {
        grid-area: box_genius;
    }


    .box_modern {
        display: none;
    }
    .box_staff_pic {
        display: none;
    }
    .box_questionnaire {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .main {
        display: grid;
        grid-auto-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
                "box_gen box_gen box_feel"
                "box_gen box_gen box_moreno"
                "box_staff box_text box_intro"
                "box_conform box_conform box_staff_yellow"
                "box_modern box_questionnaire box_questionnaire"
                "box_staff_pic box_questionnaire box_questionnaire"
                "box_leadership box_however box_however"
                "box_genius box_dot box_vector";
        padding: 10px 12px 10px 13px;
    }
    /*.main::before {*/
        /*content: "";*/
        /*padding-bottom: 100%;*/
    /*}*/
    .box_gen {
        grid-area: box_gen;
        /*grid-column: 1/3;*/
        /*grid-row: 1/3;*/
    }
    .box_feel {
        grid-area: box_feel;
        /*grid-column: 3/4;*/
        /*grid-row: 1/2;*/
    }
    .box_moreno {
        grid-area: box_moreno;
        /*grid-column: 3/4;*/
        /*grid-row: 2/3;*/
    }
    .box_staff {
        grid-area: box_staff;
        /*grid-column: 1/2;*/
        /*grid-row: 3/4;*/
    }
    .box_text {
        grid-area: box_text;
        /*grid-column: 2/3;*/
        /*grid-row: 3/4;*/
    }
    .box_conform {
        grid-area: box_conform;
        /*grid-column: 1/3;*/
        /*grid-row: 4/5;*/
    }
    .box_intro {
        grid-area: box_intro;
        /*grid-column: 3/4;*/
        /*grid-row: 3/4;*/
    }
    .box_staff_yellow {
        grid-area: box_staff_yellow;
        /*grid-column: 3/4;*/
        /*grid-row: 4/5;*/
    }
    .box_modern {
        grid-area: box_modern;
        /*grid-column: 1/2;*/
        /*grid-row: 5/6;*/
    }
    .box_staff_pic {
        grid-area: box_staff_pic;
        /*grid-column: 1/2;*/
        /*grid-row: 6/7;*/
    }
    .box_questionnaire {
        grid-area: box_questionnaire;
        /*grid-column: 2/4;*/
        /*grid-row: 5/7;*/
    }
    .box_leadership {
        grid-area: box_leadership;
        /*grid-column: 1/2;*/
        /*grid-row: 7/8;*/
    }
    .box_genius {
        grid-area: box_genius;
        /*grid-column: 1/2;*/
        /*grid-row: 8/9;*/
    }
    .box_however {
        grid-area: box_however;
        /*grid-column: 2/4;*/
        /*grid-row: 7/8;*/
    }
    .box_dot {
        grid-area: box_dot;
        /*grid-column: 2/3;*/
        /*grid-row: 8/9;*/
    }
    .box_vector {
        grid-area: box_vector;
        /*grid-column: 3/4;*/
        /*grid-row: 8/9;*/
    }
}

/******* FOOTER *******/

.footer {
    background-color: #ececec;
    bottom: 0;
    left: 0;
    min-height: 100px;
    width: 100%;
}
